.techs {
  padding: 4rem 0;
}

.techs__title {
  text-align: center;
  font-size: 2.8rem;
  padding-bottom: 2rem;
}

.logos {
  display: flex;
  justify-content: space-around;
  padding: 2rem 15%;
}

.logos img {
  height: 65px;
}

@media screen and (max-width: 768px) {
  .techs {
    padding-inline: 10%;
  }

  .logos {
    padding-inline: 0;
  }

  .logos img {
    height: 45px;
  }
}
