.projects__title {
  text-align: center;
  font-size: 2.8rem;
  padding-bottom: 3rem;
}

.projects__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding-inline: 5%;
}
