.projects__item {
  text-align: center;
  margin: 0 1.5%;
  border: 2px solid var(--dark-blueish-gray);
  border-radius: 20px;
  overflow: hidden;
  transition: 0.5s;
}

.projects__item:hover {
  scale: 105%;
}

.projects__img {
  height: 150px;
  width: 100%;
}

.projects__description {
  padding: 1.5rem;
  min-height: 150px;
  line-height: 1.5;
}

.projects__description h2 {
  font-size: 1.8rem;
  text-transform: uppercase;
  line-height: 2.5;
}

.projects__description p {
  font-size: 1.4rem;
  padding-inline: 2.5rem;
}
