@import "../../styles/main.css";

header {
  background-image: url(../../assets/img/bg.jpg);
  display: flex;
  color: #fefefe;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.myLogo {
  height: 45px;
  cursor: pointer;
}

.menu__lista {
  display: flex;
}

.menu__item {
  list-style: none;
}

.menu__link {
  color: #d4d3d3;
  margin-right: 1.25rem;
  text-decoration: none;
  text-transform: capitalize;
  position: relative;
}

.menu__link:hover::after {
  content: "";
  background: orangered;
  position: absolute;
  top: 1rem;
  width: 100%;
}
