@import "../../styles/main.css";

header {
  background-image: url(../../assets/img/bg.jpg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  font-size: 1.6rem;
}

.myLogo {
  height: 50px;
  cursor: pointer;
}

.menu__lista {
  display: flex;
}

.menu__item {
  list-style: none;
}

.menu__link {
  color: var(--white);
  margin-right: 1.4rem;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.3s;
}

.menu__link:hover {
  color: var(--dark-orange);
}
