.about {
  padding: 4rem 0;
}

.about__img {
  height: 150px;
  clip-path: circle();
  filter: brightness(115%);
}

.about__title {
  text-align: center;
  font-size: 3.5rem;
}

.about__info {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 4rem;
  padding-inline: 15%;
}

.about__info p {
  font-size: 1.8rem;
  padding-right: 5rem;
  line-height: 1.5;
}

@media screen and (max-width: 900px) {
  .about__info {
    flex-direction: column;
    padding-top: 3rem;
    padding-inline: 20%;
  }

  .about__info p {
    text-align: justify;
    padding: 0;
  }
}
